<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
		<Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{[%-20.-40maxLen{%-5level %logger{1}.%method()}{}]}{trace=bright cyan} %msg%n"
				disableAnsi="false" charset="866"/>
        </Console>
		
		<Console name="LogToConsoleOld" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{%-5level %c{.}.%method()\t - %msg%n}{TRACE=white}" 
				charset="866" disableAnsi="false"/>
        </Console>
		
		<File name="LogToFile" fileName="C:/Users/User/.napominalka/NapomLogs/napominalka.log">
            <PatternLayout>
                <Pattern>[%level %d{dd-MM-yyyy HH:mm:ss} %logger{1}.%method()] %msg%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>
	
	
    <Loggers>
        <Logger name="napominalka" level="debug" additivity="false">
            <AppenderRef ref="LogToConsole"/>
            <AppenderRef ref="LogToFile"/>
        </Logger>
        <Root level="trace">
            <AppenderRef ref="LogToConsole"/>
        </Root>
    </Loggers>
</Configuration>